<%- include('partials/header');  %>
<%- include('partials/main_nav');  %>


<div class="p-5 mb-4 bg-light rounded-3 ">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold"><%= title %> </h1>
    <p class="col-md-8 fs-4">

    </p>
    <div class="card" style="width: 18rem;">
        <img src="Assets/images/myself.png" class="card-img-top" alt="myself">
        <div class="card-body">
          <h5 class="card-title">Ka Lam LEE</h5>
          <p class="card-text">I am a software engineering student. And I like Hello World!</p>
          <i class="fa-regular fa-file-pdf"></i>
          <a href="Assets/resume.pdf" style="text-decoration: none; color: blue; font-weight: bold;">My Resume</a>
        </div>
      </div>
  </div>
</div>

<%- include('partials/bottom_nav'); %>
<%- include('partials/footer'); %>