<%- include('partials/header'); %>
  <%- include('partials/main_nav'); %>

    <div class="p-5 mb-4 bg-light rounded-3 container-fluid">
      <div class="row pt-4">
        <div class="container-fluid py-5 col">
          <h1 class="display-5 fw-bold"><%= title %></h1>
          <p class="col-md-12 fs-4">

          </p>

          <div class="row">
            <div class="col-md-11">
              <form class="row g-3" action="/home" method="get">
                <div class="col-md-6" action="localhost:3000/" method="get">
                  <label for="inputEmail4" class="form-label">First Name</label>
                  <input type="text" name="fName" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">Last Name</label>
                  <input type="text" name="lName" class="form-control" placeholder="Last name" aria-label="Last name">
                </div>
                <div class="col-md-6">
                  <label for="inputAddress" class="form-label">Email</label>
                  <input type="email" name="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                  <label for="inputAddress2" class="form-label">Phone</label>
                  <input type="tel" name="phone" class="form-control" id="inputAddress2">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                  <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-outline-primary">Submit</button>
                </div>
              </form>
            </div>

          </div>

        </div>

        <div class="card col-md-3 ms-md-auto text-center container-fluid " style="width: 19rem;">
          <img src="Assets/images/myself1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ka Lam LEE</h5>
            <p class="card-text fw-light">Software Engineering Student @Centennial College</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item fw-lighter">(647)123-4567</li>
            <li class="list-group-item fw-lighter">klee276@my.centennialcollege.ca</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link"><i class="fab fa-linkedin-in fa-2x" style="color: #0082ca;"></i></a>
            <a href="#" class="card-link"><i class="fab fa-whatsapp fa-2x" style="color: #25d366;"></i></a>
            <a href="#" class="card-link"><i class="fab fa-github fa-2x" style="color: #333333;"></i></a>
          </div>
        </div>
      </div>
    </div>
    </main>

    <%- include('partials/bottom_nav'); %>

      <%- include('partials/footer'); %>