<%- include('partials/header');  %>
<%- include('partials/main_nav');  %>

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5 row">
    <h1 class="display-5 fw-bold">Welcome to My <%= title %></h1>
    <p class="col-md-8 fs-4">To building exceptional digital experiences through innovative solutions and quality software engineering.</p>
  </div>

  <div class="list-group col-md-2">
    <a href="/about" class="list-group-item list-group-item-action" style="text-indent: 10px;"><i class="fa-regular fa-address-card"></i>&nbsp; About Me</a>
    <a href="/projects" class="list-group-item list-group-item-action" style="text-indent: 10px;"><i class="fa-solid fa-list-check"></i>&nbsp; Projects</a>
    <a href="/services" class="list-group-item list-group-item-action" style="text-indent: 10px;"><i class="fa-brands fa-servicestack"></i>&nbsp; Services</a>
    <a href="/contact-list" class="list-group-item list-group-item-action" style="text-indent: 10px;"><i class="fa-regular fa-address-book"></i>&nbsp; Biz-Contact</a>
    <a href="/contact" class="list-group-item list-group-item-action" style="text-indent: 10px;"><i class="fa-regular fa-paper-plane"></i>&nbsp; Contact</a>
  </div>
</div>

<%- include('partials/bottom_nav');  %>

<%- include('partials/footer');  %>