<%- include('partials/header');  %>
<%- include('partials/main_nav');  %>


<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold"><%= title %></h1>
    <p class="col-md-8 fs-4">To building exceptional digital experiences through innovative solutions and quality software engineering.</p>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="Assets/images/commerce.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">E-commerce Website Development</h5>
          <hr class="hr" />
          <p class="fw-light">Role<br></p>
          <p class="card-text fw-lighter">Designing and implementing the front-end user interface, developing the back-end server logic, integrating payment gateways, and ensuring a secure and user-friendly experience</p>
          <p class="fw-light">Outcome</p>
          <p class="card-text fw-lighter">A fully functional e-commerce website that allows users to browse products, add items to a shopping cart, make purchases, and manage their accounts.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="Assets/images/mobileapp.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mobile Application for Task Management</h5>
          <hr class="hr" />
          <p class="fw-light">Role<br></p>
          <p class="card-text fw-lighter">Designing and implementing the user interface, developing features such as creating tasks, setting due dates, assigning priorities, and implementing reminders.</p>
          <p class="fw-light">Outcome</p>
          <p class="card-text fw-lighter">A mobile app that helps users organize and manage their tasks efficiently.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="Assets/images/data.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Data Analysis and Visualization Dashboard</h5>
          <hr class="hr" />
          <p class="fw-light">Role<br></p>
          <p class="card-text fw-lighter">Collecting, processing, and analyzing data from various sources. Design and implement interactive visualizations to present the analyzed data in a meaningful way.</p>
          <p class="fw-light">Outcome</p>
          <p class="card-text fw-lighter">A dashboard that provides insights and facilitates data-driven decision making.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="Assets/images/commerce.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">E-commerce Website Development</h5>
          <p class="card-text">Role: Develop an end-to-end e-commerce website</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Outcome: A fully functional e-commerce website that allows users to browse products, add items to a shopping cart, make purchases, and manage their accounts.</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="Assets/images/mobileapp.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mobile Application for Task Management</h5>
          <p class="card-text">This is a short card.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="Assets/images/data.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Data Analysis and Visualization Dashboard</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
        </ul>
      </div>
    </div>
  </div> -->

</div>

<%- include('partials/bottom_nav');  %>

<%- include('partials/footer');  %>