<%- include('partials/header');  %>
<%- include('partials/main_nav');  %>


<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold"><%= title %> </h1>
    <p class="col-md-8 fs-4">To building exceptional digital experiences through innovative solutions and quality software engineering.</p>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="Assets/images/programming.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">General Programming</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="Assets/images/web.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Web Development</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="Assets/images/service.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Service Desk</h5>
        </div>
      </div>
    </div>
  </div><br>
  <hr class="hr" />
</div>



<%- include('partials/bottom_nav');  %>

<%- include('partials/footer');  %>